@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

:root {
  --bg-color: #323437;
  --main-color: #e2b714;
  --caret-color: #e2b714;
  --sub-color: #646669;
  --text-color: #d1d0c5;
  --error-color: #ca4754;
  --error-extra-color: #7e2a33;
  --colorful-error-color: #ca4754;
  --colorful-error-extra-color: #7e2a33;
  --font: "Roboto";
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  font-family: var(--font);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

h1, h2, h3, 
h4, h5, h6 {
  padding: 0;
  margin: 0;
}

.modal {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  background-color: var(--sub-color);
  padding: 1em;
  border-radius: 4px;
  transition: .3s;
}

.modal.visible {
  opacity: 1;
  visibility: visible;
}

.modal h1 {
  padding: .5em;
}

.modal .cards {
  border-top: 1px solid;
}

.modal .cards .card {
  cursor: pointer;
  padding: .5em;
  margin: .5em;
  border-radius: 4px;
  border: 1px solid transparent;
}

.modal .cards .card:hover {
  border-color: var(--main-color);
  background-color: #ffffff33;
}

.modal .cards .card.selected {
  background-color: var(--main-color) !important;
}

.modal .cards .card .description {
  font-style: italic;
  font-size: 90%;
}

main {
  width: 80vw;
  font-size: 2vw;
  color: var(--sub-color);
  font-weight: 500;
}

main div.info {
  font-size: 60%;
  font-weight: 300;
  display: flex;
}

main div.info > div:hover {
  color: yellowgreen;
}

main div.info > div:last-child {
  margin-left: 1em;
}

main p {
  display: flex;
  flex-wrap: wrap;
}

main p .word {
  display: flex;
  margin-right: .5em;
}

main p .word .letter {
  color: var(--sub-color);
}

main p .word .letter.correct {
  color: var(--text-color);
}

@keyframes animCursor {
  100% {
    background-color: transparent;
  }
}

main p .word .letter.cursor {
  background-color: var(--caret-color);
  animation-name: animCursor;
  animation-duration: .3s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}


main p .word .letter.wrong {
  color: var(--error-color);
}
